/*
 * Connect to Trello
 * Settings CSS
 */

 #checklist-items-editor {
 	display: inline-block;
 }

 #checklist-items-editor .checklist-item-container .delete-item {
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #b4b9be;
    cursor: pointer;
}

#checklist-items-editor .checklist-item-container .delete-item::after {
	background: 0 0;
    color: #b4b9be;
    content: "\f153";
    font: 400 16px/20px dashicons;
    speak: none;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
}

#checklist-items-editor #add-checklist-item {
    display: block;
    text-align: center;
    cursor: pointer;
}